@font-face {
  font-family: Playfair Display;
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}
@font-face {
  font-family: PT Sans;
  src: url('./assets/fonts/PT_Sans/PTSans-Regular.ttf');
}

:root {
  --color-bg: #e1f2f7;
  --color-bg-todo: #f5f5f5;
  --color-accent-dark: #ef0d50;
  --color-accent-light: #e5bace;
  --color-font: #221313;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  color: var(--color-font);
  background-color: var(--color-bg);
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

header {
  background-color: var(--color-accent-dark);
  color: var(--color-bg-todo);
  text-align: center;
}
